{% extends "base.html" %}
{% block title %}Utilisateur{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h1 class="mt-5">Informations sur l'article</h1>
    </div>
    <div class="col text-end">
        {# La fonction url_for génère le lien vers une certaine ressource, 
            comme dans ce cas vers la route d'index du blueprint 'users'#}
        <a class="btn btn-primary mt-5" href="{{url_for('admin.index')}}"> Retourner</a>
    </div>
</div>
<div class="row">
    <div class="col lead">
        <strong>Titre:</strong> {{post.title}}
    </div>
</div>
<div class="row">
    <div class="col lead">
        {{post.body}}
    </div>
</div>
<div class="row">
    <div class="col lead">
        <strong>Date de publication</strong> {{post.pub_date}}
    </div>
</div>

{% endblock %}