{% extends "base.html" %}
{% block title %}Ajouter un article{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h1 class="mt-5">Ajouter un nouvel article</h1>
    </div>
    <div class="col text-end">
        <a class="btn btn-primary" href="{{ url_for('admin.index') }}"> Retour</a>
    </div>
</div>

<form action="{{ url_for('admin.storePost') }}" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Titre de l'article : </label>
        <input type="text" name="title" class="form-control" id="inputTitle">
    </div>
    <div class="mb-3">
        <label for="body" class="form-label">Corps de l'article : </label>
        <input type="text" name="body" class="form-control" id="inputBody">
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Corps de l'article : </label>
        <input type="number" name="category" class="form-control" id="inputCategory">
    </div>

    <button type="submit" class="btn btn-success">Valider</button>
</form>

{% endblock %}