{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}



    {% for post in posts %}
    <div class="border" style="margin: 10px;padding: 10px">
        <div style="padding: 10px">
            <h2>{{post.title}}</h2><p>publié le {{post.pub_date}} </p>

            <p>{{post.body}}</p>
        </div>

        <div style="padding: 20px">

            <h4>Commentaires :</h4>
            {% for comm in comments %}

                {% if comm.idPost == post.id %}
                    <hr/>
                    <p>{{comm.commentaire}}</p>
                {% endif %}

            {% endfor %}
            <hr/>
            <form action="{{ url_for('default.storeComment') }}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="idPost" value="{{post.id}}">
                <input type="text" name="commentaire" class="form-control" id="inputCommentaire">
                <button type="submit" class="btn btn-success">Commenter</button>
            </form>
       </div>
    </div>
    {% endfor %}

{% endblock %}