{% extends "base.html" %}
{% block title %}Liste des articles{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %} 
    {% if messages %}
    <!-- messages pop-up -->
    <div class="alert alert-primary" role="alert" id="messages">
        <button type="button" class="btn-close" 
                aria-label="Close" 
                onclick="document.getElementById('messages').style.display = 'none';"></button>
        {{ messages[0] }}
    </div>
    {% endif %} 
{% endwith %}

<div class="row">
    <div class="col">
        <h1 class="mt-5">Liste des articles</h1>
    </div>
    <div class="col text-end">
        <a class="btn btn-primary mt-5" href="{{url_for('admin.createArticle')}}"> Créer un nouvel article</a>
    </div>
</div>
<!-- Tableau de tous les articles -->
<table class="table table-striped" style="text-align: center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Date de publication</th>
            <th scope="col">Date de révision</th>
            <th scope="col">Statut</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
            <tr>
                <th scope="row">{{article.id}}</th>
                <td class="lead">{{article.title}}</td>
                <td class="lead">{{article.date_publication}}</td>
                <td class="lead">{{article.date_revision}}</td>
                <td class="lead">
                    {% if article.statut == 1 : %}
                        Publié
                    {% else %}
                        Brouillon
                    {% endif %}
                </td>
                <td class="lead">{{article.article_balise}}</td>
                <td>
                    <!-- Actions possibles -->
                    <form action="{{ url_for('admin.destroyArticle', article_id=article.id) }}"
                          method="GET">
                        <a href="{{ url_for('admin.showArticle', article_id=article.id) }}"
                            class="btn btn-outline-success"
                            role="button">
                                Informations
                        </a>
                        <a href="{{ url_for('admin.updateArticle', article_id=article.id) }}"
                            class="btn btn-outline-primary"
                            role="button">
                                Modifier
                        </a>
                        <button type="submit" class="btn btn-outline-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}