{% extends "base.html" %}
{% block title %}Liste des usagers{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    <!-- messages pop-up -->
    {% if messages %}
        <div class="alert alert-primary" role="alert" id="messages">
            <button type="button" class="btn-close"
                    aria-label="Close"
                    onclick="document.getElementById('messages').style.display = 'none';"></button>
            {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}

<div class="row">
    <div class="col">
        <h1 class="mt-5">Liste des utilisateurs</h1>
    </div>
    <div class="col text-end">
        <a class="btn btn-primary mt-5" href="{{url_for('admin.createUsager')}}"> Créer un nouvel utilisateur</a>
    </div>
</div>
<!-- tableau de tous les utilisateurs -->
<table class="table table-striped" style="text-align: center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Identifiant</th>
            <th scope="col">Email</th>
            <th scope="col">Profil</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for usager in usagers %}
            <tr>
                <th scope="row">{{usager.id}}</th>
                <td class="lead">{{usager.username}}</td>
                <td class="lead">{{usager.email}}</td>
                <td class="lead">
                    {% if usager.profil_id == 1 %}
                        administrateur
                    {% elif usager.profil_id == 2 %}
                        auteur
                    {% else %}
                        lecteur
                    {% endif %}
                </td>
                <td>
                    <!-- Actions possibles -->
                    <form action="{{ url_for('admin.destroyUsager', usager_id=usager.id) }}"
                          method="GET">
                        <a href="{{ url_for('admin.showUsager', usager_id=usager.id) }}"
                            class="btn btn-outline-success"
                            role="button">
                                Informations
                        </a>
                        <a href="{{ url_for('admin.updateUsager', usager_id=usager.id) }}"
                            class="btn btn-outline-primary"
                            role="button">
                                Modifier
                        </a>
                        <button type="submit" class="btn btn-outline-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}