{% extends "base.html" %}
{% block title %}Articles{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h1 class="mt-5">Informations sur l'article</h1>
    </div>
    <div class="col text-end">
        <a class="btn btn-primary mt-5" href="{{url_for('admin.posts')}}"> Retour</a>
    </div>
</div>
<div class="row">
    <div class="col lead">
        <h2><strong>Titre : </strong> {{post.title}}</h2>
    </div>
</div>
<div class="row">
    <div class="col lead">
        <p>{{post.body}}</p>
    </div>
</div>
<div class="row">
    <div class="col lead">
        <p><strong>Date de publication : </strong> {{post.pub_date}}</p>
    </div>
</div>
<div class="row">
    <div class="col lead">
        <p><strong>Catégorie : </strong> {{post.category}}</p>
    </div>
</div>
<div>
    <h3>Commentaires :</h3>
    {% for comment in comments %}
        {% if comment.post_id == post.id %}
            <div class="row" style="border: 1px solid lightgray; border-radius: 10px; margin: 1%;">
                <div class="col">
                    <p style="padding-left: 15px; margin: 3px"><strong>{{comment.user}}</strong> : {{comment.commentaire}}</p>
                </div>
                <div class="col text-end">
                    <form action="{{ url_for('admin.destroyCommentPost', comment_id=comment.idComm) }}"
                                        method="GET">
                        <a href="{{ url_for('admin.show', user_id=comment.user_id) }}"
                            class="btn btn-outline-success"
                            role="button">
                                Voir l'utilisateur
                        </a>
                        <button type="submit" class="btn btn-outline-danger">Supprimer</button>
                    </form>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<h3>Actions : </h3>
<form action="{{ url_for('admin.destroyPost', post_id=post.id) }}"
                      method="GET">
    <a href="{{ url_for('admin.updatePost', post_id=post.id) }}"
        class="btn btn-outline-primary"
        role="button">
            Modifier l'article
    </a>
    <button type="submit" class="btn btn-outline-danger">Supprimer l'article</button>
</form>

{% endblock %}