{% extends "base.html" %}
{% block title %}Utilisateur{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h1 class="mt-5">Informations sur l'utilisateur</h1>
    </div>
    <div class="col text-end">
        {# La fonction url_for génère le lien vers une certaine ressource, 
            comme dans ce cas vers la route d'index du blueprint 'users'#}
        <a class="btn btn-primary mt-5" href="{{url_for('admin.users')}}"> Retour</a>
    </div>
</div>
<div class="row">
    <div class="col lead">
        <strong>Pseudo:</strong> {{user.username}}
    </div>
</div>
<div class="row">
    <div class="col lead">
        <strong>Mail:</strong> {{user.email}}
    </div>
</div>
<div class="row">
    <div class="col lead">
        <strong>est Admin:</strong> {{user.admin}}
    </div>
</div>
<form action="{{ url_for('admin.destroy', user_id=user.id) }}"
                      method="POST">
    <a href="{{ url_for('admin.show', user_id=user.id) }}"
        class="btn btn-outline-success"
        role="button">
            Show
    </a>
    <a href="{{ url_for('admin.update', user_id=user.id) }}"
        class="btn btn-outline-primary"
        role="button">
            Edit
    </a>
    <button type="submit" class="btn btn-outline-danger">Delete</button>
</form>
    <!-- <p class="lead">{{user.username}} - {{user.email}}</p> -->

{% endblock %}