{% extends "base.html" %}
{% block title %}Mettre à jour l'utilisateur{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h1 class="mt-5">Mettre à jour l'utilisateur</h1>
    </div>
    <div class="col text-end">
        <a class="btn btn-primary" href="{{ url_for('admin.users') }}"> Retour</a>
    </div>
</div>
<!-- Formulaire de mise a jour de l'utilisateur -->
<form action="{{ url_for('admin.update', user_id = user.id) }}" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" id="inputUsername" value="{{user.username}}">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="inputEmail" value="{{user.email}}">
    </div>
    <div class="mb-3">
        <label class="form-check-label" for="admin">Administrateur</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="admin" id="inputAdmin1" value="True">
            <label class="form-check-label" for="inlineRadio1">Oui</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="admin" id="inputAdmin2" value="False">
            <label class="form-check-label" for="inlineRadio2">Non</label>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Valider</button>
</form>

{% endblock %}